
<div id="tcomment"></div>
<script
  src="https://cdn.staticfile.org/twikoo/1.6.31/twikoo.all.min.js"
  data-astro-ignore></script>
<script>
  twikoo.init({
    envId: "https://twikoo.xiaohan-kaka.gay/", // 替换为你的 Vercel 地址
    el: "#tcomment", // 指定评论容器元素
    lang: 'zh-CN',
    path: location.posts
  });
</script>
